.background {
  @apply min-h-screen w-screen;

  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #001f3f;
  background: -webkit-linear-gradient(0deg, #001f3f 0%, #005f9f 50%, #007fff 100%);
  background: linear-gradient(0deg, #001f3f 0%, #005f9f 50%, #007fff 100%);
  opacity: 0;
  animation-iteration-count: 1;
  animation: fadeIn 0.5s ease-in-out ;


  .loader {
    @apply drop-shadow-2xl;
    width: 100px;
    height: 180px;
    background-color: rgb(255, 255, 107);
    clip-path: polygon(3.36% 38.34%, 60.74% 0.69%, 41.37% 31.07%, 80.96% 31.07%, 58.25% 52.49%, 88.8% 52.49%, 60% 80%, 20% 80%, 44.59% 62.8%, 7.11% 62.8%, 38.93% 38.34%);
    position: relative;
    transform: scale(1);
    animation: flash 0.5s infinite alternate;
  }
}

@keyframes flash {
  0% {
    opacity: 0.7;
    transform: scale(1);
  }

  100% {
    opacity: 1;
    transform: scale(1.2);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}

